@page "/aeronave"

<h4>Cadastro de Aeronave</h4>

<div class="mb-3">
    <label for="modelo" class="form-label">Modelo</label>
    <input type="text" class="form-control" id="modelo">
</div>
<div class="mb-3">
    <label for="fabricante" class="form-label">Fabricante</label>
    <input type="text" class="form-control" id="fabricante" rows="3">
</div>
<div class="mb-3">
    <label for="codigo" class="form-label">Codigo</label>
    <input type="text" class="form-control" id="codigo" rows="3">
</div
<button type="button" class="btn btn-outline-primary">Cadastrar</button>

<tabelaAeronave/>