@page "/tabelaaeronave"

<h4>Listar Aeronave</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="id">#</th>
      <th scope="Modelo">First</th>
      <th scope="Fabricante">Last</th>
      <th scope="Código">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bandeirante</td>
      <td>Embraer</td>
      <td>EMB-100</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Legacy</td>
      <td>Embraer</td>
      <td>450</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Colspan</td>
      <td>Embraer</td>
      <td>450</td>
     </tr>
    <tr>